/* Estilo para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(to right, rgb(185, 72, 72), rgb(197, 13, 13));
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para el contenedor del login */
.login-container {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

/* Estilo para el título principal */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilo para los subtítulos */
h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 14px;
}

/* Estilo para el botón */
button {
  background-color: rgb(206, 14, 7);
  color: white;
  padding: 12px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

/* Hover de botones */
button:hover {
  background-color: rgb(206, 14, 7);
}

/* Estilo para los mensajes */
p {
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

/* Título principal */
.titulo {
  color: rgb(206, 14, 7);
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
}

/* Contenedor del dashboard */
.dashboard-container {
  background-color: white;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

/* Bienvenida */
.bienvenida {
  color: rgb(206, 14, 7);
  font-weight: bold;
  margin-bottom: 30px;
}

/* Contenedor de botones en fila */
.botones-fila {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilo de los botones generales */
.boton {
  flex: 1;
  padding: 12px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(206, 14, 7);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

/* Hover botones */
.boton:hover {
  background-color: rgb(206, 14, 7);
}

/* Contenedor para el botón cerrar sesión */
.cerrar-sesion-container {
  margin-top: 10px;
  background-color: rgb(206, 14, 7);
}

/* Botón cerrar sesión ocupa todo el ancho */
.cerrar-sesion {
  width: 100%;
  background-color: rgb(206, 14, 7);
}








